.task {
    box-shadow: 0 4px 8px grey;
    padding: 10px;
    margin: 2%;
    animation: pop-up 400ms normal forwards;
}

.task-info {
    margin-bottom: 4%;
}

.task-title {
    margin: 1vh auto;
}

.status {

}

.confirmation {

}

button {
    border: none;
    border-radius: 4px;
    padding: 8px;
    display: inline-block;
}

.button-resolve {
    background-color: #08a65f;
    outline: none;
    cursor: pointer;
    color: white;
}

.late {
    color: #d41919;
}

.checkbox-confirm {
    display: inline-block;
    padding: 4px;
}

.options-container {
    font-size: 16px;
}

.checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    text-align: left;
}

.checkbox-label {
    position: relative;
    vertical-align: middle;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
}

.textbox {
    margin-bottom: 1rem;
}

@keyframes pop-up {
    from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }